<h2>Add or update entry</h2>
<form ng-submit="submit()" class="entry-form">
	<label><span>Title</span> <input ng-model="entry.title" type="text" placeholder="Title" /></label>

	<label><span>Text</span> <textarea ng-model="entry.text" type="text" placeholder="Text"></textarea></label>

	<label><span>Date <a ng-click="update_date()">(set to today)</a></span> <input type="date" ng-model="entry.date"></label>

	<div><button type="button" ng-click="delete()">Delete entry</button></div>

	<div ng-click="toggle()">
		<label><span>Publish?  <!--debug: {{entry.isPost ? '' : ""}}--></span> 
		<input type="checkbox"></label>
	</div>
	<div><input type="submit" value="Submit" /></div>
</form>
