<div ng-repeat="entry in entries">
	<p><a href="/admin/update/{{entry.slug}}">{{entry.title}}</a></p>
</div>

<h2>Create a new entry</h2>
<form ng-submit="new_entry()" class="ui form">
	<label class="field"><span>Slug</span>
		<input ng-model="slug" type="text" placeholder="URL slug" />
	</label>

	<input type="submit" value="Create entry" /> <span ng-if="slug">Entry URL: {{origin}}/{{slug}}</span>
</form>

<hr>

<h2>Settings</h2>
{{main_settings}}
<form ng-submit="save_settings(main_settings)" class="ui form">
	<label><span>Site title</span> <input ng-model="main_settings.data.title" type="text" placeholder="Site title" /></label>

	<input type="submit" value="Update settings" />
</form>