.backgound_animation () {
  from {
    background-position-x: 0%;
    background-position-y: 100%;
  }

  to {
    background-position-x: 100%;
    background-position-y: 0%;
  }
}

@-webkit-keyframes backgroundmove {.backgound_animation;}
@-moz-keyframes backgroundmove {.backgound_animation;}
@keyframes backgroundmove {.backgound_animation;}